<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.boyue.boyuelauncher"
    android:sharedUserId="android.uid.system">
    <!--android:sharedUserId="android.uid.system"-->

    <!-- 网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 清除缓存时需要此权限 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <!--关机权限-->
    <uses-permission android:name="android.permission.SHUTDOWN" />

    <!--设置日期权限-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />


    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 向SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Bugly权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />

    <!--获取栈顶的Activity权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />


    <application
        android:name=".BoYueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hht"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cleancache.CleanCacheActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/myTransparent">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.activity.action.cleancache" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wifimanager.WiFiManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.activity.action.wifimanager" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="SettingsActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.activity.action.settings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_xt_fragment.hht_zjyy.HHT_zjyy_Main_Activity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_xt_fragment.HHT_zjyy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_klok.HHT_klok_Main_Activity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.HHT_klok" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.fragments.HHT_Item_Activity"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_klok.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fcmlockscreen.FcmLockScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.FCMlockscreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".protecteyelockscreen.ProtectEyeLockScreenActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.ProtectEyeLockScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_bx_fragment.cartoon.HHT_CatToon_Main_Activity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_bx_fragment.cartoon" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.fragments.advance_settings.system_update.SystemUpdateActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.settings.fragments.advance_settings.system_update" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.SystemSettingsService">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.service.playaudio" />
            </intent-filter>
        </service>
        <service android:name=".service.PlayAudioService" />

        <receiver android:name=".receive.SystemReceiver">
            <intent-filter android:priority="2147483647">
                <!--自定义u盘挂载广播-->
                <action android:name="com.boyue.action.usb.mounted" />
                <!--自定义连接充电器广播-->
                <action android:name="com.boyue.action.action_power_connected" />
                <!--mic连接广播-->
                <action android:name="android.intent.action.MIC_IN" />
                <!--低电量广播-->
                <action android:name="android.intent.action.BATTERY_LOW" />
                <!--监听开机广播，如果不启动语音机器人相关服务，第一次启动语音机器人会没有声音-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--系统无操作广播 15m,30m,60m-->
                <action android:name="android.intent.action.IDLE_FIFTEEN_MIN" />
                <action android:name="android.intent.action.IDLE_THIRTY_MIN" />
                <action android:name="android.intent.action.IDLE_SIXTY_MIN" />
            </intent-filter>
        </receiver>
    </application>


</manifest>