<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boyue.boyuelauncher"


    >
    <!--android:sharedUserId="android.uid.system"-->

    <!-- 网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS定位权限 -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 清除Cache所需的权限 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <!--关机权限-->
    <uses-permission android:name="android.permission.SHUTDOWN" />

    <!--设置日期权限-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />


    <application
        android:name=".BoYueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cleancache.CleanCacheActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleTranslucentTheme">
            <intent-filter>
                <action android:name="com.boyue.boyurlauncher.activity.action.cleancache" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wifimanager.WiFiManagerActivity"
            android:label="Tianluhua"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="com.boyue.boyurlauncher.activity.action.wifimanager" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="SettingsActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.boyue.boyurlauncher.activity.action.settings" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_xt_fragment.hht_zjyy.HHT_zjyy_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_xt_fragment.HHT_zjyy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_xt_fragment.hht_zjxt.HHT_zjxt_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_xt_fragment.HHT_zjxt" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_klok.HHT_klok_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.HHT_klok" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_yspy.HHT_yspy_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_yspy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_yzyx.HHT_yzyx_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_yzyx" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_yspy.htcz.HHT_yspy_htcz_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_yspy.htcz" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_yspy.syzl.HHT_yspy_yszl_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_yspy.syzl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.fragments.hht_ly_fragment.hht_yspy.zqyy.HHT_yspy_zqyy_Activity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.main.fragments.hht_ly_fragment.hht_yspy.zqyy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".fcmlockscreen.FcmLockScreenActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.FCMlockscreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".protecteyelockscreen.ProtectEyeLockScreenActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.boyue.boyuelauncher.ProtectEyeLockScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.SystemSettingsService" />

    </application>


</manifest>